@charset "UTF-8";
/* CSS Document */

/* status icons */

.status-icon{
	width:10px;
	height:10px;
	border-radius:3px;
	border:1px solid #cfcfcf;
	background-color:#ededed;
	display:inline-block;
	margin: 0 5px -1px 0;
}

.completed,.closed{background-color:#a2e3ac;}
.open{background-color:#e48c88;}
.in-progress, .inprogress{background-color:#ffe37a;}
.pending{background-color:#fcf3b1;}
.approved{background-color:#4391e8;}
.forwarded{background-color:#b6dcfc;}
.deleted,.request-denied{background-color:#4391e8;}
.duplicate,.canceled{background-color:#ececec;}

/* icons */

.icon_button{
	display:block;
	background-image:url(../images/iconsprite/mtcicons.png);
	overflow:hidden;
	float:left;
	margin-right:5px;
	margin-top:1px;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon_options{float:right !important;margin-right:0px !important;}
.icon_options_left {float:left !important;margin-left:-50px !important;}
.icon_options_upload {float:left !important; z-index:1000 !important;}

.icon{
	display:block;
	background-image:url(../images/iconsprite/mtcicons.png);
	overflow:hidden;
	margin-right:10px;
	float:left;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon_vector{
	display:block;
	background-image:url(../images/iconsprite/mtcicons.png);
	background-image:-webkit-linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg);
    background-image:linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg);
	overflow:hidden;
	margin-right:5px;
	float:left;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon-white{
	display:block;
	background-image:url(../images/iconsprite/mtcicons-white.png);
	background-image:-webkit-linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons-white.svg);
    background-image:linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons-white.svg);
	overflow:hidden;
	margin-right:10px;
	float:left;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon_calendar_inline{
	display:inline-block !important;
	float:none !important;
	margin-right:30px !important;
	vertical-align:top;
}

.calendar_icon{
	display: inline-block !important;
    float: left !important;
    margin: 0 5px 0 0 !important;
}

.icon_option {
	display:block;
	background-image:url(../images/iconsprite/mtcicons.png);
	overflow:hidden;
	margin-right:10px;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon_required_no {
	background-position: -9px -315px;
	width:14px !important;
	height:14px !important;
	margin-top: 5px;
	margin-left: 10px;
}

.icon_required_yes {
	background-position: -10px  -335px;
	width:14px !important;
	height:14px !important;
	margin-top: 5px;
	margin-left: 10px;
}

.icon_chatcloud_on {
	background-position:-264px -35px;
	width:32px !important;
	height:30px !important;
}

.icon_chatcloud_off {
	background-position:-264px -55px;
	width:32px !important;
	height:30px !important;
}

.icon_edit{
	background-position:-8px -10px;
	width:16px !important;
	height:16px !important;
}

.icon_sendemail{
	background-position:-34px -8px;
	width:21px !important;
	height:20px !important;
}

.icon_emailhistory{
	background-position:-66px -10px;
	width:15px !important;
	height:17px !important;
}

.icon_building {
	background-position: -223px -5px;
	width:25px !important;
	height:27px !important;
}

.icon_delete{
	background-position:-91px -11px;
	width:16px !important;
	height:16px !important;
}

.icon_delete_small {
	background-position:-91px -11px;
	width:13px !important;
	height:13px !important;
}

.icon_add{
	background-position:-112px -10px;
	width:18px !important;
	height:18px !important;
}

.icon_bulkupdate{
	background-position:-135px -10px;
	width:21px !important;
	height:16px !important;
	margin-left:-1px;
}

.icon_refresh{
	background-position:-164px -11px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_refresh_on_green {
	background-position:-146px -105px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_refresh_on{
	background-position:-183px -11px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_checkbox_on{
	background-position:-5px -36px;
	width:14px !important;
	height:14px !important;
}

.icon_vector.icon_checkbox_on{
	background-position:-5px -35px;
}

.icon_checkbox{
	background-position:-24px -36px;
	width:14px !important;
	height:14px !important;
}

.icon_info{
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
}

.icon_info_margin{
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
}

.icon_info_marginleft {
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
	margin-left: 2px !important;
}

.icon_info_none {
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
	margin-bottom: 30px !important;
}

.icon_info_small_bottom_margin {
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
	margin-bottom: 10px !important;
}

@-moz-document url-prefix() {
	.icon_info_margin{
		background-position:-45px -36px;
		width:15px !important;
		height:15px !important;
		margin-left: 4px !important;
	}

}


.icon_delete_small{
	background-position:-66px -36px;
	width:14px !important;
	height:14px !important;
}

.icon_reviewusers{
	background-position:-86px -36px;
	width:16px !important;
	height:15px !important;
	margin-left:1px;
}

.icon_user_admin_small{
	background-position:-106px -36px;
	width:14px !important;
	height:13px !important;
}

.icon_user_small{
	background-position:-126px -36px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_reviewusers_small{
	background-position:-146px -36px;
	width:13px !important;
	height:13px !important;
}

.icon_refresh_small{
	background-position:-166px -37px;
	width:12px !important;
	height:12px !important;
}

.icon_refresh_on_green_small {
	background-position:-165px -106px;
	width:12px !important;
	height:12px !important;
}

.icon_refresh_on_small{
	background-position:-184px -37px;
	width:12px !important;
	height:12px !important;
}

.icon_arrow_left_small{
	background-position:-5px -57px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_arrow_right_small{
	background-position:-27px -57px;
	width:14px !important;
	height:13px !important;
	margin-top:1px;
}

.icon_arrow_left{
	background-position:-48px -55px;
	width:18px !important;
	height:15px !important;
	margin-top:-1px;
}

.icon_arrow_right{
	background-position:-74px -55px;
	width:18px !important;
	height:15px !important;
	margin-top:-1px;
}

.icon_gear{
	background-position:-104px -54px;
	width:17px !important;
	height:16px !important;
}

.icon_communication{
	background-position:-130px -56px;
	width:17px !important;
	height:13px !important;
	margin-top:2px;
}

.icon_check{
	background-position:-154px -54px;
	width:17px !important;
	height:17px !important;
	margin-top:-2px;
}

.icon_servicepage{
	background-position:-180px -55px;
	width:14px !important;
	height:17px !important;
	margin-top:-1px;
}

.icon_caution{
	background-position:-8px -76px;
	width:28px !important;
	height:23px !important;
}

.icon_caution2{
	background-position:-34px -105px;
	width:14px !important;
	height:13px !important;
}

.icon_warning{
	background-position:-45px -77px;
	width:21px !important;
	height:21px !important;
}

.icon_user_admin{
	background-position:-74px -75px;
	width:26px !important;
	height:24px !important;
	margin-top:-2px;
}

.icon_user{
	background-position:-106px -75px;
	width:26px !important;
	height:26px !important;
	margin-top:-2px;
}

.icon_user_green{
	background-position: -202px  -103px;
	width:21px !important;
	height:16px !important;
}

.icon_print{
	background-position:-143px -79px;
	width:18px !important;
	height:18px !important;
	margin-top:-2px;
}

.icon_piechart{
	background-position:-174px -80px;
	width:19px !important;
	height:19px !important;
}

.icon_table{
	background-position:-8px -105px;
	width:20px !important;
	height:20px !important;
}

.icon_caution_small,.icon_pastdue{
	background-position:-33px -105px;
	width:16px !important;
	height:13px !important;
	margin-left:-30px !important;
}

.icon_tooltip{
	background-position:-52px -105px;
	width:14px !important;
	height:17px !important;
	margin-top:-1px;
}

.icon_tooltip_inline{
	background-position:-52px -105px;
	width:14px !important;
	height:17px !important;
	margin-top:-1px;	
	display: inline-block !important;
    float: none !important;
    margin-left: 10px !important;
    max-width: none !important;
    padding: 0 !important;
    text-align: left !important;
    width: 14px !important;
}

.icon_tooltip_table{
	background-position:-52px -105px;
	width:14px !important;
	height:17px !important;
	margin-top:2px;
	display:inline-block;
	background-image:url(../images/iconsprite/mtcicons.png);
	background-image:-webkit-linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg);
    background-image:linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg);
	overflow:hidden;
	margin-left:5px;
	background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.icon_tooltip_iaNotification {
	margin-left: 315px !important; 
	margin-top: -50px !important;
}

@-moz-document url-prefix() {
	.icon_tooltip_iaNotification {
	  margin-left: 310px !important; 
	  margin-top: -50px !important;
	}
}

.icon_tooltip_possibleduplicate {
	margin-right: 240px !important; 
	float:right;
}

.icon_search{
	background-position:-72px -102px;
	width:15px !important;
	height:17px !important;
}

.icon_search_on{
	background-position:-90px -102px;
	width:15px !important;
	height:17px !important;
}

.icon_warning_small{
	background-position:-109px -102px;
	width:14px !important;
	height:17px !important;
	margin-top:-4px !important;
}

.icon_close{
	background-position:-124px -103px;
	width:17px !important;
	height:17px !important;
	margin-right:0px !important;
}

.icon_add_grey{
	background-position:-202px -4px;
	width:12px !important;
	height:12px !important;
	opacity:0.6;
	opacity:0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.icon_vector.icon_add_grey{
	height:14px !important;
}

.icon_add_grey:hover{
	opacity:1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.icon_close_grey{
	background-position:-202px -21px;
	width:13px !important;
	height:13px !important;
	opacity:0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.icon_vector.icon_close_grey{background-position:-202px -20px;}

.icon_close_grey:hover{
	opacity:1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.icon_gear_small{
	background-position:-202px -39px;
	width:14px !important;
	height:13px !important;
	margin-right:5px !important;
}

.icon_caution_red{
	background-position:-201px -56px;
	width:19px !important;
	height:16px !important;
	margin-top:2px !important;
}

.icon_caution_yellow{
	background-position:-225px -56px;
	width:19px !important;
	height:16px !important;
	margin-top:2px !important;
}

.icon_calendar{
	background-position:-203px -79px;
	width:19px !important;
	height:19px !important;
	margin-top:1px !important;
}

.icon_image{
	background-position:-228px -104px;
	width:15px !important;
	height:15px !important;
	margin-top:1px !important;
}

.icon_caution_glass{
	background-position:-228px -76px;
	width:26px !important;
	height:23px !important;
}

.icon_check_glass{
	background-position:-259px -76px;
	width:23px !important;
	height:23px !important;
}

.icon_blank{
	display:block;
	overflow:hidden;
	float:left;
	margin-right:10px;
	width:14px !important;
	height:13px !important;
}

.icon_tooltip_spacing {
	margin-left: 165px !important; 
	margin-top: -17px !important;
}

.icon_newwindow_blue{
	background-position:-222px -4px;
    height: 15px !important;
    width: 17px !important;
}

.icon_newwindow_grey{
	background-position: -222px -20px;
    height: 15px !important;
    width: 17px !important;
}

.icon_newwindow_grey2{
	background-position:-222px -37px;
    height: 15px !important;
    width: 17px !important;
}

.icon_newwindow_white{
	background-position:-244px -37px;
    height: 15px !important;
    width: 17px !important;
}

.icon_folder_blue{
	background-position:-245px -3px;
    height: 15px !important;
    width: 19px !important;
}

.icon_help_blue{
	background-position:-270px -4px;
    height: 15px !important;
    width: 16px !important;
}

.icon_email_big{
	background-position:-251px -103px;
	height: 23px !important;
    width: 29px !important;
    margin-right:0px !important;
}

.jMenu .icon{
	display:inline !important;
    float: right !important;
    margin-left: 5px;
    margin-right: 0 !important;
    margin-top: -15px;
}

#nav_add .icon{
	display: inline-block !important;
    float: none !important;
    margin-right: 0px !important;
    vertical-align: middle;
}

.icon_save{
	background-position:-8px -131px;
	width:15px !important;
	height:16px !important;
}

.icon_pdf{
	background-position:-31px -129px;
	width:16px !important;
	height:20px !important;
}

.icon_xls{
	background-position:-55px -129px;
	width:17px !important;
	height:21px !important;
}

.icon_presentation{
	background-position:-80px -128px;
	width:18px !important;
	height:21px !important;
}

.icon_piechart_grey{
	background-position:-106px -131px;
	width:15px !important;
	height:15px !important;
}

.icon_bargraph_grey{
	background-position:-128px -132px;
	width:13px !important;
	height:13px !important;
}

.icon_timeline_grey{
	background-position:-150px -131px;
	width:15px !important;
	height:13px !important;
}

.icon_datagrid_grey{
	background-position:-173px -133px;
	width:11px !important;
	height:9px !important;
}

.icon_gear_big{
	background-position:-256px -132px;
	width:24px !important;
	height:24px !important;
}

.icon_mobile_nav{
	background-position:-150px -173px;
	width:24px !important;
	height:24px !important;
	margin: 6px 12px 0 0;
	float:none;
}

.icon_mobile_search{
	background-position:-183px -175px;
	width:21px !important;
	height:21px !important;
	margin: 3px 45px 0 0;
	float:none;
}

.icon_mobile_home{
	background-position: -150px -200px;
    float: none;
    height: 21px !important;
    margin-left: -5px;
    margin-top: -4px;
    position: absolute;
    width: 24px !important;
}

.icon_mobile_close{
	background-position:-125px -215px;
	width:23px !important;
	height:21px !important;
	margin:0px;
	float:right;
	cursor:pointer;
}

.icon_mobile_gear{
	background-position: -257px -160px;
    display: inline !important;
    height: 21px !important;
    margin: 0 !important;
    position: absolute;
    right: 15px;
    top: 12px;
    width: 22px !important;
}

.icon_carat_right{
	background-position:-78px -218px;
	width:11px !important;
	height:17px !important;
	margin:0px;
	float:none;
}

.icon_carat_left{
	background-position:-61px -218px;
	width:11px !important;
	height:17px !important;
	margin:0px;
	float:none;
}

.icon_carat_up{
	background-position:-104px -213px;
	width:17px !important;
	height:11px !important;
	margin:0px;
	float:none;
}

.icon_carat_down{
	background-position:-104px -199px;
	width:17px !important;
	height:11px !important;
	margin:0px;
	float:none;
}

.icon_carat_down_big{
	background-position:-76px -199px;
	width:21px !important;
	height:13px !important;
	margin:0px;
	float:none;
}

.icon_task_accepted{
	background-position:-128px -199px;
	width:14px !important;
	height:13px !important;
	margin:0px;
	float:none;
}

.icon_flag, .icon_flagged{
	background-position:-59px -178px;
	width:15px !important;
	height:15px !important;
	margin:0px;
	float:none;
}

.icon_lowpriority{
	background-position:-81px -178px;
	width:11px !important;
	height:14px !important;
	margin:0px;
	float:none;
}

.icon_rearrange{
	background-position:-124px -177px;
	width:19px !important;
	height:15px !important;
	margin:0px;
	float:none;
}

.icon_highpriority{
	background-position: -8px -154px;
    width: 13px !important;
    height: 14px !important;
}

.icon_today{
	background-position: -29px -154px;
    width: 15px !important;
    height: 13px !important;
}

.icon_week{
	background-position: -51px -154px;
    width: 16px !important;
    height: 17px !important;
}

.icon_alltasks{
	background-position: -74px -153px;
    width: 15px !important;
    height: 19px !important;
}

.icon_inprogress{
	background-position:-94px -152px;
	width:11px !important;
	height:24px !important;
	margin:0px;
	float:none;
}

.icon_inprogress_old{
	background-position:-111px -152px;
	width:8px !important;
	height:24px !important;
	margin:0px;
	float:none;
}

.icon_pending{
	background-position:-124px -152px;
	width:15px !important;
	height:19px !important;
	margin:0px;
	float:none;
}

.icon_pending_old{
	background-position:-144px -151px;
	width:20px !important;
	height:19px !important;
	margin:0px;
	float:none;
}

.icon_unassigned{
	background-position:-168px -152px;
	width:18px !important;
	height:19px !important;
	margin:0px;
	float:none;
}

.icon_designees{
	background-position:-190px -152px;
	width:21px !important;
	height:16px !important;
	margin:0px;
	float:none;
}

.icon_mobile_bulkupdate_small{
	background-position:-235px -175px;
	width:14px !important;
	height:10px !important;
	margin:0px;
	float:none;
	margin: -2px 8px 0 0;
    vertical-align: middle;
    display:inline-block;
}

.icon_caret_right_blue{
	background-position:-240px -154px;
	width:8px !important;
	height:12px !important;
	margin:0px;
	float:none;
}

.icon_caret_left_blue{
	background-position: -211px -174px;
    display: inline-block;
    float: none;
    height: 12px !important;
    margin: -2px 10px 0 -5px;
    vertical-align: middle;
    width: 8px !important;
}

.icon_mobile_question{
	background-position: -223px -174px;
    display: inline-block;
    float: none;
    height: 12px !important;
    margin: -2px 8px 0 0;
    vertical-align: middle;
    width: 8px !important;
}

.icon_mobile_edit{
	background-position:-254px -186px;
    display: inline-block;
    float: none;
    height: 15px !important;
    margin: -3px 10px 0 -7px;
    vertical-align: middle;
    width: 15px !important;
}

.icon_mobile_commlog{
	background-position: -174px -222px;
    display: inline-block;
    float: none;
    height: 13px !important;
    margin: -4px 10px 0 0;
    vertical-align: middle;
    width: 15px !important;
}

.icon_mobile_commlog_old{
	background-position:-180px -200px;
	width:21px !important;
	height:18px !important;
	margin:0px;
	float:none;
}

.icon_mobile_statuslog{
	background-position: -196px -222px;
    display: inline-block;
    float: none;
    height: 13px !important;
    margin: -4px 10px 0 0;
    vertical-align: middle;
    width: 13px !important;
}

.icon_mobile_statuslog_old{
	background-position:-211px -208px;
	width:17px !important;
	height:16px !important;
	margin:0px;
	float:none;
}

.icon_mobile_arrow_right_blue{
	background-position:-233px -209px;
	width:18px !important;
	height:14px !important;
	margin:0px;
	float:none;
}

.icon_mobile_add{
	background-position: -211px -192px;
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    float: none !important;
    vertical-align: middle !important;
    margin: -2px 8px 0 0 !important;
}

.icon_mobile_bulkupdate,.icon_completed{
	background-position: -216px -154px;
    width: 17px !important;
    height: 13px !important;
    display: inline-block;
    float: none !important;
    margin: -2px 8px 0px 0px !important;
    vertical-align: middle !important;
}

.icon_mobile_sort{
	background-position: -230px -191px;
    width: 16px !important;
    height: 13px !important;
    display: inline-block;
    float: none !important;
    margin-right: 8px !important;
    vertical-align: middle !important;
}

.icon_mobile_sort_large{
	background-position: -49px -199px;
    width: 18px !important;
    height: 18px !important;
    margin:0px;
	float:none;
}

.icon_mobile_plus{
	background-position: -41px -179px;
    float: right;
    height: 13px !important;
    margin: 0px;
    width: 14px !important;
}

.icon_all_read_small{
	background-position: -8px -173px;
    height: 20px !important;
    width: 18px !important;
	display: inline-block;
    float: none;
    margin: -6px 5px 0 -5px;
    vertical-align: middle;
}

.icon_view_read_small{
	background-position: -8px -195px;
    height: 20px !important;
    width: 18px !important;
	display: inline-block;
    float: none;
    margin: -6px 5px 0 -5px;
    vertical-align: middle;
}

.ui-alt-icon.ui-icon-carat-r::after, .ui-alt-icon .ui-icon-carat-r::after,.ui-icon-carat-r::after {
	background-image:url(../images/iconsprite/mtcicons.png) !important;
	background-image:-webkit-linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg) !important;
    background-image:linear-gradient(transparent, transparent),url(../images/iconsprite/mtcicons.svg) !important;
	background-position:-79px -213px !important;
	width:12px !important;
	height: 23px !important;
    margin-top: -13px !important;
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;
}

.footer-icon{
	margin: 0 0 -2px 5px !important;
	float: none !important;
	display: inline-block !important;
}

/* from reporting */

.icon_report_archive{
	background-position: -9px -244px;
    height: 17px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_trash{
	background-position: -34px -243px;
    height: 19px !important;
    width: 15px !important;
    margin-left: 2px;
    margin-right: 8px;
}

.icon_report_trash_small{
	background-position: -25px -182px;
    background-size: 225px 300px;
    height: 15px !important;
    margin-left: 2px;
    margin-right: 8px;
    width: 12px !important;
}

.icon_report_duplicate{
	background-position: -56px -244px;
    height: 20px !important;
    width: 17px !important;
    margin-left: 1px;
    margin-right: 7px;
}

.icon_report_caution{
	background-position: -82px -244px;
    height: 15px !important;
    width: 14px !important;
    margin-left:9px;
    margin-top:-1px;
    margin-right: 6px;
}

.icon_report_caution_small{
    background-position: -61px -182px;
    height: 11px !important;
    width: 12px !important;
    margin-left:9px;
    margin-top:2px;
    margin-right:4px;
    background-size:225px 300px;
}

.icon_report_recurring{
	background-position: -104px -244px;
    height: 12px !important;
    width: 20px !important;
    margin-right:5px;
}

.icon_report_edit{
	background-position: -133px -244px;
    height: 16px !important;
    width: 15px !important;
    margin-left: 2px;
    margin-right: 8px;
}

.icon_report_share{
	background-position: -157px -244px;
    height: 18px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_download{
	background-position: -185px -244px;
    height: 17px !important;
    width: 17px !important;
    margin-right:8px;
}

.icon_report_cancelrecurring{
	background-position: -210px -244px;
    height: 17px !important;
    width: 17px !important;
    margin-right:8px;
}

.icon_report_info{
	background-position: -236px -244px;
    height: 17px !important;
    width: 17px !important;
    margin-right:8px;
}

.icon_report_info_small{
	background-position:-45px -36px;
	width:15px !important;
	height:15px !important;
	margin-bottom: 10px !important;
	margin-right: 4px;
}

.icon_report_dataset{
	background-position: -262px -244px;
    height: 20px !important;
    margin-right: 8px;
    width: 20px !important;
    margin-left: -2px;
    margin-top: -2px;
}

.icon_report_resetreport{
	background-position: -9px -268px;
    height: 16px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_updatereport{
	background-position: -35px -268px;
    height: 16px !important;
    width: 17px !important;
    margin-right:8px;
}

.icon_report_filter{
	background-position: -61px -268px;
    height: 16px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_refreshdata{
	background-position: -86px -268px;
    height: 16px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_gear_small{
	background-position: -111px -269px;
    height: 13px !important;
    width: 13px !important;
    margin-right:10px;
}

.icon_report_gear{
	background-position: -131px -267px;
    height: 18px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_pie{
	background-position: -157px -269px;
    height: 14px !important;
    width: 15px !important;
}

.icon_report_back {
    background-position: -181px -269px;
    height: 23px !important;
    margin-left: -4px;
    margin-top: -5px;
    width: 26px !important;
}

.icon_report_pie2{
	background-position: -215px -268px;
    height: 17px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_currenttype{
	background-position: -238px -268px;
    height: 18px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_download2{
	background-position: -263px -267px;
    height: 18px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_summarydata{
	background-position: -9px -292px;
    height: 18px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_dataset2{
	background-position: -35px -292px;
    height: 18px !important;
    width: 16px !important;
    margin-right:9px;
}

.icon_report_chartpdf{
	background-position: -59px -292px;
    height: 19px !important;
    width: 15px !important;
    margin-right:9px;
}

.icon_report_chart{
	background-position: -84px -292px;
    height: 15px !important;
    width: 18px !important;
    margin-right:7px;
}

.icon_report_caution_big{
	background-position: -109px -292px;
    height: 21px !important;
    width: 24px !important;
}

.icon_report_arrow_down{
	background-position: -140px -292px;
    height: 9px !important;
    width: 14px !important;
}

.icon_report_expand{
	background-position: -160px -291px;
    height: 17px !important;
    width: 16px !important;
    margin: -2px 5px 0px 0px;
    cursor:pointer;
}

.icon_report_contract{
	background-position: -160px -312px;
    height: 18px !important;
    width: 17px !important;
    margin: -2px 5px 0px 0px;
    cursor:pointer;
}

.icon_report_clear_notifications{
	background-position: -191px -298px;
	width: 23px;
	height: 18px;
	margin-left: -6px;
    margin-right: 8px;
}

.icon_report_cancel_recurring2{
	background-position: -220px -298px;
	width: 25px;
	height: 17px;
	margin-left: -7px;
    margin-right: 6px;
}

.icon_expand{
	background-position: -249px -299px;
	height:13px;
	width:13px;
	cursor:pointer;
}

.icon_contract{
	background-position: -266px -299px;
	height:13px;
	width:13px;
	cursor:pointer;
}

.icon_expand_white{
	background-position: -248px -316px;
	height:13px;
	width:13px;
	cursor:pointer;
}

.icon_contract_white{
	background-position: -265px -316px;
	height:13px;
	width:13px;
	cursor:pointer;
}

.icon_afterhours{
	background-position: -193px -323px;
	height:13px;
	width:13px;
}

.icon_maintenance{
	background-position: -213px -323px;
	height:13px;
	width:13px;
}

.icon_attachment{
	background-position: -212px -339px;
	height:10px;
	width:20px;
	margin-right:5px;
	vertical-align:middle;
	float:none;
	display:inline-block;
}

.icon_attachment_vertical{
	background-position: -212px -339px;
	height:10px;
	width:20px;
	margin-right:5px;
	vertical-align:middle;
	float:none;
	display:inline-block;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.animate_arrow{
   -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.animate_arrow_out{
   -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.icon_opacity25{
	opacity:0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.icon_opacity50{
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.icon_opacity75{
	opacity:0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.options_menu_list .icon_vector {
    margin-top: -1px !important;
}

.report_list_item .icon_report_recurring {
    display: inline-block;
    float: none;
    margin-right: 4px;
}

.report_list_item .icon_report_archive {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.report_list_item .options_menu_list .icon_report_recurring {
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: -2px;
    margin-right: 5px;
}

.report_list_item .options_menu_list .icon_report_archive {
    float: left;
    margin-right: 9px;
    margin-left: -1px;
    margin-right: 8px;
    margin-top: -1px;
}

.summarydetails-block .icon_vector {
    float: none;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.button_current .icon_report_currenttype{
	float: right;
    margin-right: -30px;
    margin-top: -2px;
}

.reporting-title-right .icon, .reporting-title-right .icon_vector{
	margin-top:0px;
}

.options_wrapper .icon_report_caution{
	margin:-1px 10px 0px 0px;
}

.report_list_item .icon_report_caution{
	margin-top:0px;
	cursor:pointer;
}

.calendar_expand .icon_vector{
	float:right;
	margin:0px 0px 0px 5px;
}

.calendar_task_subheader .icon_vector{
	float:none;
	display:inline-block;
	margin-right:3px;
}

.icon_attachment2{
	background-position: -237px -337px;
	width: 15px;
	height: 14px;
}

.icon_import{
	background-position: -10px -353px;
	width: 17px;
	height: 18px;
}

.reporting-modal-block .icon, .reporting-modal-block .icon_vector {
    margin-top: -3px;
}

.icon_building{
	background-position: -25px -317px;
	width: 17px;
	height: 21px;
}

.icon_phone{
	background-position: -46px -317px;
	width: 16px;
	height: 17px;
}

.icon_lock{
	background-position: -67px -317px;
	width: 10px;
	height: 16px;
}

.icon_yellowcaution{
	background-position: -82px -319px;
	width: 15px;
	height: 12px;
}

.icon_checkmark{
	background-position: -104px -319px;
	width: 16px;
	height: 13px;
}

.icon_flag2{
	background-position: -125px -317px;
	width: 14px;
	height: 17px;
}

.icon_flag2_grey{
	background-position: -142px -317px;
	width: 14px;
	height:17px;
}

.sidebar_icon .icon_flag2_grey{
	margin-top:4px;
}

.sidebar_icon .icon_checkmark{
	margin-top:4px;
}

.icon_splitroom{
	background-position: -36px -344px;
	width: 13px;
	height: 13px;
}

.icon_splitroom_big {
    background-position: -44px -429px;
    background-size: 375px 500px;
    height: 18px;
    width: 18px;
}

.inline_icon{
	display:inline-block !important;
	float:none !important;
	vertical-align:middle !important;
	margin:0px 5px 0px 0px !important;
}

.content_box_form_elements .inline_icon{
	margin-left:5px !important;
}

.icon_update{
	background-position: -58px -345px;
	width:18px;
	height:15px;
}

.icon_signoff{
	background-position: -81px -345px;
	width:18px;
	height:15px;
}

.icon_edit_grey{
	background-position: -105px -346px;
	width:14px;
	height:14px;
}

.icon_unshare{
	background-position: -125px -344px;
	width:16px;
	height:16px;
}

.icon_archive2{
	background-position: -147px -345px;
	width:15px;
	height:19px;
}

.icon_email_small{
	background-position: -169px -344px;
	width:16px;
	height:12px;
	margin:2px 0px 0px 2px;
}

.icon_presentation2{
	background-position: -188px -343px;
	width:18px;
	height:19px;
}

.icon_confirm-checkmark{
	background-position: -214px -352px;
	width:14px;
	height:14px;
}

.icon_maintenance_blue{
	background-position: -35px -363px;
	width: 15px;
	height: 15px;
}

.icon_calendar_new{
	background-position: -57px -364px;
	width: 17px;
	height: 17px;
}

.icon_newwindow_blue2{
	background-position: -82px -366px;
	width: 16px;
	height: 16px;
}

.icon_email_red{
	background-position: -104px -367px;
	width: 14px;
	height: 11px;
}

.icon_filter{
	background-position: -127px -368px;
	width: 12px;
	height: 14px;
}

.icon_filter_white{
	background-position: -147px -368px;
	width: 12px;
	height: 14px;
}

.icon_close_blue{
	background-position: -169px -367px;
	width: 13px;
	height: 12px;
}

.icon_close_red{
	background-position: -169px -382px;
	width: 13px;
	height: 12px;
}

.mobile-footer .icon_close_red{
	margin: -2px 10px 0px -5px;
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.icon_checkmark_green{
	background-position: -188px -366px;
	width: 17px;
	height: 14px;
}

.icon_redcaution{
	background-position: -212px -370px;
	width: 14px;
	height: 12px;
}

.icon_close_red_small{
	background-position: -232px -372px;
	width: 10px;
	height: 10px;
}

.icon_caution_white_big{
	background-position: -249px -367px;
	width: 28px;
	height: 23px;
}

.alertpanel_icon .icon_vector{
	float:none;
	display:inline-block;
}
